<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public Sans:wght@800&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  />
</head>
<body>
  <nav class="navbar" id="navbar">
    <p class="logo">EQUALITEACH</p>
    <div class="navbar-nav">
      <a href="#/home">Home</a>
      <a href="#/content">Content</a>
      <a href="#/aboutus">About Us</a>
    </div>
    <div class="navbar-extra">
      <button class="btn-login">Login</button>
    </div>
  </nav>

  <main id="mainContent"></main>

  <footer>
    <p>EQUALITEACH</p>
    <p>© 2023 Equaliteach, All Rights Reserved</p> 
  </footer>
</body>
</html>
