<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Equaliteach</title>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public Sans:wght@800&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  />
  <link rel="icon" href="./favicon.png">

</head>
<body>
  <nav class="navbar" id="navbar">
    <p class="logo">EQUALITEACH</p>
    <div class="navbar-nav">
      <a href="#/home" id="linka" onClick="scrollToTop()">Home</a>
      <a href="#/content" onClick="scrollToTop()">Content</a>
      <a href="#/aboutus">About Us</a>
    </div>
    <div class="navbar-extra">
      <button onclick="window.location.href='https://client-equaliteach.vercel.app/auth/login'" class="btn-login">Login</button>
      <button id="hamburgerButton">☰</button>
    </div>
  </nav>
  <main id="mainContent"></main>
  
  <footer>
    <p>EQUALITEACH</p>
    <p>© 2023 Equaliteach, All Rights Reserved</p> 
  </footer>
</body>
</html>