.navbar {
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s ease;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--color-gray-200);
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar.scrolled {
  background-color: #6b6b3e;
}
.navbar .logo {
  color: white;
  font-family: var(--font-public-sans);
  font-size: var(--font-size-xl);
  letter-spacing: 0.175em;
  font-weight: bolder;
}

.navbar .navbar-nav a{
  display: inline-block;
  font-family: var(--font-jost);
  font-size: var(--font-size-mid);
  font-weight: bold;
  margin: 0 5rem;
  color: white;
}

.navbar .navbar-nav a:hover {
  color: var(--color-sandybrown);
}

.btn-login {
  border-radius: var(--br-5xs);
  border: 2px solid var(--color-sandybrown);
  width: 161px;
  height: 54px;
  opacity: 1;
  color: var(--color-sandybrown);
  background-color: #1D1B1B;
  font-size: var(--font-size-mid);
  font-weight: bold;
}

.btn-login:hover {
  border: 2px solid var(--color-darkseagreen);
  color: var(--color-darkseagreen);
  background-color: var(--gray-900);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid var(--color-sandybrown);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height  .2s ease;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--color-darkseagreen);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: var(--color-darkseagreen);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--color-sandybrown);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--color-darkseagreen);
  font-weight: 500;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: white;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: #747373;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-login-mail {
  width: 100%;
  height: 45px;
  background: var(--color-darkseagreen);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-jost);
}

.login-register {
  font-size: .9em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #747373;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-left: 5%;
}

.hero .hero-let {
  color: white;
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: var(--font-size-41xl);
}

.hero .hero-p {
  font-family: var(--font-jost);
  font-size: var(--font-size-3xl);
  color: white;
  margin: 30px;
}

.hero span {
  color: var(--color-darkseagreen);
}

.home-item-container {
  width: 100%;
  margin: 60px auto;

}

.content-item-container {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.gender-equality-item-container {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.trending-item-container {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.btn-start {
  font-family: var(--font-jost);
  border-radius: var(--br-5xs);
  border: 2px solid var(--color-blueviolet-100);
  box-sizing: border-box;
  width: 161px;
  height: 54px;
  opacity: 1;
  background-color: #4C40F7;
  color: var(--white);
  font-size: var(--button-bold-size);
  font-weight: bold;
  margin-top: 50px;
  margin-right: 15px;
  display: inline-block;
  padding-top: 13px;
}

.hero-hub-gender-1-icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.hero-hub-gender-1-icon {
  width: 1291px;
  height: 553px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  right: -100px;
  position: relative;
}

.judul-content {
  color: white;
  font-family: var(--font-jost);
  font-weight: 700;
  font-size: var(--font-size-41xl);
  line-height: 65px;
}

.content1 p {
  font-family: var(--font-jost);
  font-weight: 400;
  font-size: var(--font-size-xl);
  color: white;
}
.content1{
  transform: translateX(-70px);
  top: -95px;
  position: relative;
}

.content a {
  font-family: var(--font-rubik);
  font-weight: 500;
  font-size: var(--font-size-5xl);
  text-decoration-line: underline;
  color: var(--color-darkseagreen);
}

.content2 .judul-isi {
  font-family: var(--font-jost);
  font-weight: 600;
  font-size: var(--font-size-5xl);
  color: var(--color-sandybrown);
}

.content2 p {
  font-family: var(--font-jost);
  font-weight: 400;
  font-size: var(--button-bold-size);
  color: white;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: 42px;
  color: white;
  transform: translateY(95px);
}

h1 {
  display: inline;
  justify-content: center;
  align-items: center;
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: 60px;
  color: white;
  transform: translateY(95px);
}

.trending-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.isi-trending {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  transform: translateX(-100px);
}

.pilihan-content {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.bentuk1 {
  width: 600px;
  height: 300px;
  background-color: white;
  border-radius: 129px 20px 20px 20px;
  position: relative;
  transform: translate(100px, 120px);
}
.content-bentuk1 {
  border-radius: 20px 0 0 20px;
  margin-left: 20%;
  margin-bottom: 200px;
}

.bentuk2{
  position: relative;
  transform: translateX(125px);
}
.content-bentuk2 {
  flex: 1;
  background-color: white;
  border-radius: 0 20px 20px 0;
  margin-right: 20%;
  margin-bottom: 204px;
  position: relative;
  right: 2px;
}


.bentuk3{
  position: relative;
  transform: translate(100px, 25px);
}
.content-bentuk3 {
  flex: 1;
  margin-left: 20%;
  background-color: white;
  border-radius: 20px 0 0 20px;
  margin-bottom: 5px;
}
.bentuk1 p {
  font-family: var(--font-jost);
  font-weight: 800;
  font-size: 17px;
  position: relative;
  transform: translate(10px, 80px);
  align-items: center;
  text-align: center;
}

.content-bentuk2 p {
  font-family: var(--font-jost);
  font-weight: 800;
  font-size: 60px;
  line-height: 54px;
  position: relative;
  transform: translate(10px, 80px);
  align-items: center;
  text-align: center;
}
.gender-equality-0-1 {
  width: 550px;
  height: 430px;
}
.content-gender-equality-0-1 {
  width: 550px;
  height: 425px;
}
.gender-equality-1-1 {
  width: 550px;
  height: 425px;
}
.content-gender-equality-1-1 {
  width: 550px;
  height: 425px;
}
.bentuk4 {
  width: 600px;
  height: 300px;
  background-color: white;
  border-radius: 20px 129px 20px 20px;
  position: relative;
  transform: translate(80px, 150px);
}
.content-bentuk4 {
  flex: 0 0 auto;
  border-radius: 20px 20px 20px;
  margin-right: 20%;
}
.bentuk4 p {
  font-family: var(--font-jost);
  font-weight: 800;
  font-size: 17px;
  position: relative;
  transform: translate(10px, 80px);
  align-items: center;
  text-align: center;
}
.content-bentuk3 p {
  font-family: var(--font-jost);
  font-weight: 800;
  font-size: 60px;
  line-height: 54px;
  position: relative;
  transform: translate(10px, 80px);
  align-items: center;
  text-align: center;
}
.btn-smr1 {
  width: 130px;
  height: 69px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-sandybrown);
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: var(--font-size-mid);
  position: relative;
  transform: translate(50px, 100px);
  display: inline-block;
  padding-top: 21px;
  padding-left: 28px;
}
.content-btn-smr1 {
  width: 130px;
  height: 69px;
  border-radius: 50px;
  color: white;
  background-color: var(--color-sandybrown);
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: var(--font-size-mid);
  position: relative;
  transform: translate(0, 150px);
  display: inline-block;
  padding-top: 20px;
}
.btn-smr2 {
  width: 130px;
  height: 69px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-sandybrown);
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: var(--font-size-mid);
  position: relative;
  transform: translate(425px, 100px);
  display: inline-block;
  padding-top: 21px;
  padding-left: 28px;
}
.content-btn-smr2 {
  width: 130px;
  height: 69px;
  border-radius: 50px;
  color: white;
  background-color: var(--color-sandybrown);
  font-family: var(--font-jost);
  font-weight: bold;
  font-size: var(--font-size-mid);
  position: relative;
  transform: translate(0, 150px);
  display: inline-block;
  padding-top: 20px;
}
.home-child{
  position: relative;
  transform: translate(300px, -200px);
}
.add-icon{
  position: relative;
  transform: translateY(200px);
}
.home-item{
  position: relative;
  transform: translate(-150px, -200px);
}
.chat-container {
  padding: 2.5rem 7%;
  display: flex;
  justify-content: space-between;
}

.home-child1 {
  position: absolute;
  top: 826.59px;
  left: -331px;
  border-radius: var(--br-214xl-5);
  background: linear-gradient(
    180deg,
    rgba(255, 173, 96, 0.27),
    rgba(255, 173, 96, 0.11)
  );
  filter: blur(300px);
  width: 467px;
  height: 1233.79px;
  transform: rotate(-54.37deg);
  transform-origin: 0 0;
}

#btn-diskusi {
  font-size: var(--font-size-5xl);
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-radius: 20px;
  font-family: var(--font-jost);
}
#btnScrollToTop {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  border-radius: 50px;
}
#btnScrollToTop:hover {
  background-color: #555;
}
footer {
  padding: 2.5rem 7%;
  display: flex;
  justify-content: space-between;
}
footer p {
  font-family: var(--font-jost);
  font-weight: 500;
  text-align: center;
  color: white;
  letter-spacing: 0.175em;
}
button {
  cursor: pointer;
}
