@media screen and (max-width: 1200px) {
    #twiContentContainer,
    #gecContentContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-gender-equality-0-1 {
        width: 500px;
        height: 400px;
    }

    .content-gender-equality-1-1 {
        width: 500px;
        height: 400px;
    }

    .content-bentuk2 p {
        font-size: 55px;
    }

    .content-bentuk3 p {
        font-size: 55px;
    }
}


@media screen and (max-width: 1135px) {
    .hero-hub-gender-1-icon {
        width: 950px;
        height: 450px;
    }
}

@media screen and (max-width: 1100px) {
    .content-bentuk2 p {
        font-size: 45px;
    }

    .content-bentuk3 p {
        font-size: 45px;
    }
}

@media screen and (max-width: 1035px) {
    .content-bentuk2 p {
        font-size: 30px;
    }

    .content-bentuk3 p {
        font-size: 30px;
    }

    .content-gender-equality-0-1 {
        width: 450px;
        height: 350px;
    }

    .content-gender-equality-1-1 {
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 1024px) {
    #twiContentContainer,
    #gecContentContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    #contentDetail {
        position: relative;
        left: 20%;
    }
}

@media screen and (max-width: 960px) {
    .content-btn-smr2 {
        transform: translate(0, 100px);
    }
    #contentDetail {
        width: 750px;
        left: 26%;
    }
    #contentDetail img {
        width: 650px;
    }
}

@media screen and (max-width: 768px) {
    #hamburgerButton {
        display: inline-block;
    }

    .navbar .navbar-nav {
        padding: 20px;
        position: absolute;
        top: 0;
        right: -100%;
        background: white;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .hero .hero-let {
        font-size: 50px;
    }

    .hero .hero-p  {
        font-size: 20px;
    }

    .hero-hub-gender-1-icon {
        width: 700px;
        height: 280px;
    }

    .isi-trending {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-bentuk2 p {
        font-size: 20px;
    }

    .content-bentuk3 p {
        font-size: 20px;
    }
    .content {
        display: grid;
    }
        
    .content1 {
        z-index: 1;
        transform: translateX(-10px);
    }
        
    .content2 {
        grid-template-columns: repeat(1, 1fr);
        transform: translateX(-70px);
    }
    #contentDetail {
        width: 600px;
        left: 28%;
    }
    #contentDetail img {
        width: 500px;
    }
    .content-gender-equality-0-1{
        transform: translateX(-20px);
    }
    .content-bentuk2{
        transform: translateX(-20px);
    }
    .content-gender-equality-1-1{
        transform: translateX(-20px);
    }
    .content-bentuk3{
        transform: translateX(-20px);
    }
    .bentuk1 p {
        font-size: 20px;
    }

    .bentuk4 p {
        font-size: 20px;
    }
    .bentuk4{
        border-radius: 20px;
        width: 650px;
        transform: translateY(20px);
        left: 20%;
    }
    .bentuk1{
        border-radius: 20px;
        width: 650px;
    }

    .gender-equality-1-1 {
        width: 650px;
    }

    .gender-equality-0-1 {
        width: 650px;
    }
    .btn-smr2{
        position: relative;
        transform: translate(80px, 150px);
    }
    .btn-smr1{
        position: relative;
        transform: translate(80px, 150px);
    }
  }

  @media screen and (max-width: 700px) {
    .hero-hub-gender-1-icon {
        width: 650px;
        height: 280px;
    }
    .content1{
        z-index: 1;
        transform: translateX(-10px);
    }
    .content2{
        grid-template-columns: repeat(1,1fr);
        transform: translateX(-70px);
    }
    #contentDetail {
        max-width: 500px;
        left: 30%;
    }
    #contentDetail img {
        width: 350px;
    }
    .content-gender-equality-0-1{
        transform: translateX(-20px);
    }
    .content-bentuk2{
        transform: translateX(-20px);
    }
    .content-gender-equality-1-1{
        transform: translateX(-20px);
    }
    .content-bentuk3{
        transform: translateX(-20px);
    }
    .bentuk1 p {
        font-size: 18px;
    }

    .bentuk4 p {
        font-size: 18px;
    }
    .bentuk4{
        width: 600px;
    }
    .bentuk1{
        width: 600px;
    }

    .gender-equality-1-1 {
        width: 600px;
    }

    .gender-equality-0-1 {
        width: 600px;
    }
}

  @media screen and (max-width: 650px) {
    #twiContentContainer,
    #gecContentContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-hub-gender-1-icon {
        width: 500px;
        height: auto;
    }
    .bentuk1 p {
        font-size: 10px;
    }

    .bentuk4 p {
        font-size: 10px;
    }
    .bentuk4{
        width: 500px;
    }
    .bentuk1{
        width: 500px;
    }

    .gender-equality-1-1 {
        width: 500px;
    }

    .gender-equality-0-1 {
        width: 500px;
    }
    .content1{
        z-index: 1;
        transform: translateX(-10px);
    }
    .content2{
        grid-template-columns: repeat(1,1fr);
        transform: translateX(-70px);
    }
    #contentDetail {
        position: relative;
        max-width: 350px;
        left: 39%;
    }
    #contentDetail img {
        width: 200px;
    }
    .content-gender-equality-0-1{
        transform: translateX(-20px);
    }
    .content-bentuk2{
        transform: translateX(-20px);
    }
    .content-gender-equality-1-1{
        transform: translateX(-20px);
    }
    .content-bentuk3{
        transform: translateX(-20px);
    }

}